.navbar{
    background-color: bisque;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    border-radius: 20px;
}

.-scrollrecipies{    
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    border-radius: 50px;
}
.rishi{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(11, 118, 133);
    text-decoration: none;
    border-radius: 20px;
}