.navbar{
    background-color: bisque;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    border-radius: 20px;
}

.-scrollrecipies{    
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    border-radius: 50px;
}
.rishi{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(11, 118, 133);
    text-decoration: none;
    border-radius: 20px;
}
.Parent_Recipies{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border: 2px;
    border-color: black;
    border-radius: 30px;
}

.Recipies_BananaCake{
    display: flex;
    flex-direction: column;
    justify-content: center;



}
ol{
    list-style-position: inside;
    text-align: center;
    padding: 0;
    width: 100vw;
}
ul{
    list-style-position: inside;
    text-align: center;
    padding: 0;
    width: 100vw;
}
.imgbro{
    display: flex;
    justify-content: center;
}
.hi{
    display: flex;
    justify-content: center;
}
.Pinlogo{
    display: flex;
    justify-content:center;
}