<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipies</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
            <a href="home">Home</a>
            <a href="recipies">Recipies</a>
        </div>
        <div class="recipies-scroll">
            <div class="card">
                <img style="width: 400px;" src="{{ url_for('static', filename='IMG_2285.jpeg') }}" alt="bananacakeimg">
                <a href="{{ url_for('static', filename='banana_bread.html') }}"><button>Click Here</button></a>
            </div>
        </div>
</body>
</html>